body{
    background-color: tomato;
}

.flex-container{
    display: flex;
    justify-content: space-around;
}

.flex-item{
    display: inline-grid;
    border-style: solid;
    border-color: rgb(189, 51, 27);
}


img{
    display: block;
    height: 300px;
    width: 300px;
}

label{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
    text-align: center;
}

button{
    margin-top: 30px;
    padding: 7px 7px;
}
